/* Updated header.css */

.app-header {
  background-color: #0d1117;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #a0a0a0;
  font-family: 'Poppins', sans-serif;
  margin-right: auto;
}

/* Menu Items */
.menu-items {
  background: transparent;
  border-bottom: none;
}

.menu-items .ant-menu-item {
  color: #fff;
}

.menu-items .ant-menu-item:hover {
  color: #0f3350;
}

/* Sign Out and Delete Account Buttons */
.signout-button,
.delete-account-button {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 0.9rem;
  margin-left: 10px; /* Ensure some space between buttons */
  transition: all 0.3s ease;
}

.signout-button:hover,
.delete-account-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.8);
  color: #fff;
  transform: translateY(-2px);
}

.delete-account-button {
  color: #ff4d4f !important;
  border-color: #ff4d4f !important;
}

.delete-account-button:hover {
  background-color: #ff4d4f;
  color: white;
}

/* Mobile Specific Adjustments */
@media (max-width: 768px) {
  .app-header {
    padding: 0 20px;
  }

  .menu-icon {
    display: block;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }

  /* Drawer Styles */
  .mobile-drawer .ant-menu-item {
    height: 50px;
    line-height: 50px;
    color: #000;
  }

  .signout-button,
  .delete-account-button {
    width: 100%; /* Full-width buttons for mobile drawer */
    margin: 5px 0;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .menu-items {
    display: flex;
    align-items: center; /* Vertically align items */
  }

  /* Adjust spacing for desktop buttons */
  .signout-button,
  .delete-account-button {
    margin-left: 20px;
  }
}
